body{
    background-color: lightcyan;
}

.question1{
    margin: 25px;
}

#btn1, #btn2{
    margin: 25px;
}

#btn1 > button, #btn2 > button{
    margin-right: 5px;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 5px;
    border-style: none;
    
}

.question2{
    background-color: aqua;
    height: 200px;
    margin: 50px;
    text-align:center;
    align-items: center;
    display:flex ;
    justify-content: center;
    border-radius: 10px;
}

.question2 > h1{
    
    align-items: center;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
}


.question3{
    margin: 0 auto;
    
}

.question3 > h1, .question3 > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#submit{
    margin-top: 15px;
    padding:15px 25px;
    background-color: cadetblue;
    border-style: none;
    border-radius: 5px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 48f599faf8d247288d5249c657701b5a8d388b29
