body{
    background-color: lightcyan;
    display: flex;
    justify-content: space-around;

}

.mainAssignment {
    margin-left: 25px;
    padding: 25px;
    border: 5px inset rgb(107, 214, 246)

}

.sphereCalculator {
    margin-right: 25px;
    padding: 25px;
    border: 5px inset rgb(107, 214, 246)
}

.question1{
    margin: 25px;
}

#btn1, #btn2{
    margin: 25px auto;
    width: 300px;
    font-size: 20px;
}

#btn1 > button, #btn2 > button{
    margin-right: 5px;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 5px;
    border-style: none;
    
}

.question2{
    background-color: aqua;
    height: 200px;
    margin: 50px auto;
    width: 500px;
    text-align:center;
    align-items: center;
    display:flex ;
    justify-content: center;
    border-radius: 10px;
}

.question2 > h1{
    
    align-items: center;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
}


.question3{
    margin: 0 auto;
    
}

.question3 > h1, .question3 > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#submit{
    margin-top: 15px;
    padding:15px 25px;
    background-color: cadetblue;
    border-style: none;
    border-radius: 5px;
}

h4 {
    width: 100px;
    margin: auto
}